{% load thumbnail cms_tags sekizai_tags staticfiles %}

{% addtoblock "css" strip %}
  <link rel="stylesheet" type="text/css" href="{% static 'cms_lab_members/plugins.css' %}">
{% endaddtoblock %}

<div class="scientist-plugin">
  <div class="row text-center">

    <a href="{% url 'lab_members:scientist_detail' instance.scientist.slug %}">
      {% if instance.scientist.photo %}
        <img src="{% thumbnail instance.scientist.photo 300x300 crop upscale subject_location=instance.scientist.photo.subject_location %}" alt={{ instance.scientist.full_name }}>
      {% else %}
        <img src="http://placehold.it/300x300" alt={{ instance.scientist.full_name }}>
      {% endif %}

      {# <h2>{% render_model instance.scientist "full_name" %}</h2> #}
      <h4>{{ instance.scientist.full_name }}</h4>
    </a>

  </div>
</div>
